<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 style="text-align: center">Chọn chức năng cho chương trình</h2>
    <a th:href="@{/candidates}" class="btn btn-lg btn-block btn-primary">Danh sách ứng viên</a>
    <a th:href="@{/candidate-by-role}" class="btn btn-lg btn-block btn-warning">Lọc ứng viên theo vai trò</a>
    <a th:href="@{/candidate-used-gmail}" class="btn btn-lg btn-block btn-info">Ứng viên sử dụng gmail</a>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>